.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    height: 550px;
    padding: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card img {
    width: 80%;
    height: 240px;
    border-radius: 30px;
}
.card h2 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.card p {
    color: #666;
    font-size: 1em;
    margin: 10px 0;
}

.card h3 {
    font-size: 1.2em;
    margin: 20px 0 0 0;
    color: #ff0000;
}


.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija para estar siempre visible */
    z-index: 1; /* Superponerse al resto del contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% desde la parte superior y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Puede ajustarse según sea necesario */
    max-width: 500px; /* Máximo ancho del modal */
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.agregar {
    
    padding: 8px 20px;
    width: 200px;
    height: 50px;
    color: var(--text-color);
    font-weight: 700;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    margin: 25px;
    overflow: hidden;
    position: relative;
}

.agregar:hover {

    background: #fff;
    box-shadow: 0 0 20px 5px var(--primary-color);
}


.btn {
    display: block;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--text-color);
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid var(--primary-color);
    z-index: 0;
    font-weight: 700;
    cursor: pointer;
    margin: 30px 0 0 0;
  }
  .btn::before {
    content: "";
    background-color: var(--primary-color);
    transition: all 500ms ease;
    z-index: -1;
  }

  .btn--3:hover {
    color: #000000 !important;
    transform: scale(1.3);
    box-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 20px var(--primary-color);
    background-color: var(--primary-color);
  }

  .buscador {
    display: flex !important;
    align-items: center !important;
    margin: 30px 0 30px 0;
}

.formulario1 {
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body.dark .volver {
    background-color: var(--primary-color);
}

.volver {
    color: #000;
    font-weight: 900;
    font-size: 20px;
    border-radius: 30px;
    width: 300px;
    height: 60px;
    background-color: #671edd;
    border: 2px solid #000000;
    transition: var(--tran-03);
}
.volver:hover {
    box-shadow: 0 0 4px 10px #999;
}

body.dark .input {
    background-color: var(--primary-color);
}

.input {
    width: 300px;
    height: 60px;
    padding: 12px 20px;
    margin: 0 30px 0 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
    border-color: #5b9bd5;
    box-shadow: 0 0 8px 0 rgba(91, 155, 213, 0.3);
    outline: none;
}

.input::placeholder {
    color: #999;
}

.btn {
    margin: 0 0 0 0 ;
}
.encabezado{
    text-align: center;
}

.contacto{
    text-align: center;
}